body {
  background-color: gainsboro;
  font-family: system-ui, sans-serif;
  margin: 0;
  text-align: center;
}

#main-board {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  gap: 20px;
  justify-content: center;  
}

.board {
  display: flex;
  flex-wrap: wrap;
  width: 200px;
  border: 1px solid black;
  padding: 20px;
}

.sqr {
  width: 30%;
  aspect-ratio: 1/1;
  border: 3px solid black;
  font-size: 44px;
  text-align: center;
}